*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
}

.container {
    display: grid;
    grid-template-rows: 85vh 83vh repeat(7, auto);
}


html {
    font-size: 62.5%;
}

/**********************************************************************************************************************/
/***************************************************** HOME SECTION ***************************************************/
/**********************************************************************************************************************/
.hero-image-header {
    display: grid;
    background-image: linear-gradient(to right, #6CBA7F, #5CAF69, #56AB60);
    width: 100%;
    grid-template-rows: 17vh 68vh;
}

.navigation-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.logo {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    margin-top: 2rem;
}

.logo svg {
    width: 4.8rem;
    height: auto;
    fill: #ffffff;
}

.logo svg:hover {
    fill: rgba(255, 255, 255, 0.71);
}

.nav-large-screen {
    grid-column: 2/3;
    justify-self: end;
    align-self: center;
    margin-right: 10.5rem;
    margin-top: 2rem;
}

.nav-large-screen ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

.nav-large-screen li {
    margin-left: 3.5rem;
    font-weight: 700;
    color: white;
    font-size: 2.2rem;
}

.nav-large-screen a {
    text-decoration: none;
    color: white;
}

.nav-large-screen a:hover {
    color: rgba(255, 255, 255, 0.71);
}

.header-container {
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 35% 65%;
    grid-template-rows: 70% 30%;
}

.mobile-mockup {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: end;
    width: 73%;
    align-self: center;
    margin-bottom: 5rem;
}

.intro-heading {
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin: 10rem 7rem 0 5rem;
}

.intro-heading h1 {
    font-size: 5rem;
    color: white;
    font-weight: 700;
}

.intro-heading p {
    margin: 3rem 5rem;
    font-size: 1.8rem;
}

.download-links-container {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 50% 50%;
}

.download-link-img {
    text-decoration: none;
}

.download-link-img img {
    width: 18rem;
}

.google-play {
    justify-self: end;
    margin-right: 1rem;
}

.app-store {
    justify-self: start;
    margin-left: 1rem;
}


/**********************************************************************************************************************/
/************************************************ FEATURES SECTION ****************************************************/
/**********************************************************************************************************************/

.feature-section {
    padding: 6rem;
}

.feature-section h1 {
    text-transform: uppercase;
    color: #6CBA7F;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}

.feature-section p {
    text-align: center;
    font-size: 1.7rem;
    width: 70%;
    margin: 3rem auto 0 auto;
}

.features-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 7rem;
}

.feature-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-left: 1px Solid #6cba7f;
    border-right: 1px Solid #6cba7f;
    border-top: 1px Solid #6cba7f;
    border-bottom: 15px solid #6cba7f;
    border-radius: 2.5rem 2.5rem 0.5rem 0.5rem;
    width: 29rem;
    padding: 4rem 1rem 2rem 1rem;

}

.feature-container img {
    width: 7rem;
    height: 7rem;
}

.feature-heading {
    color: #6cba7f;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.feature-container p {
    display: none;
    font-size: 1.3rem;
    margin-top: 1rem;
}


/**********************************************************************************************************************/
/*********************************************ABOUT SECTION************************************************************/
/**********************************************************************************************************************/
/*.about {*/
/*    grid-row: 3 / 4;*/
/*    display: grid;*/
/*    grid-template-rows: 0.5fr 0.5fr 1fr 0.4fr;*/
/*    grid-template-columns: 120px 1fr 1.2fr 100px;*/
/*    background-image: url(../images/backgroung_svgs/website/about.svg);*/
/*    !* background-image: url(../images/OneComplete_BG.svg); *!*/
/*    background-size: 100%;*/
/*}*/

/*.about_heading {*/
/*    grid-row: 1 / 2;*/
/*    grid-column: 1 / 4;*/
/*    margin: auto;*/
/*}*/

/*.about_heading h1 {*/
/*    color: #ffffff;*/
/*    font-family: roboto-regular;*/
/*    font-size: 32px;*/
/*    margin: 0 auto;*/
/*}*/

/*.about_title {*/
/*    grid-row: 2 / 3;*/
/*    grid-column: 2 / 3;*/
/*    margin: auto;*/
/*}*/

/*.about_title h2 {*/
/*    color: #ffffff;*/
/*    font-family: roboto-regular;*/
/*    font-size: 28px;*/
/*    !* margin-left: 4em; *!*/
/*    margin: 0 auto;*/
/*}*/

/*.about_text {*/
/*    grid-row: 3 / 4;*/
/*    grid-column: 2 / 3;*/
/*}*/

/*.about_text p {*/
/*    font-family: roboto-regular;*/
/*    text-align: center;*/
/*    font-size: 23px;*/
/*    margin: 0 auto;*/
/*}*/

/*.about_image {*/
/*    grid-row: 2 / 4;*/
/*    grid-column: 3 / 4;*/
/*}*/

/*.about_image img {*/
/*    padding-left: 8em;*/
/*}*/

/*!*********************************************************************************************************************************************!*/
/*!************************************************************TEAM SECTION**********************************************************************!*/
/*!*********************************************************************************************************************************************!*/
/*.team {*/
/*    grid-row: 4 / 5;*/
/*    background-color: #ffffff;*/
/*}*/

/*!*********************************************************************************************************************************************!*/
/*!************************************************************FAQS SECTION**********************************************************************!*/
/*!*********************************************************************************************************************************************!*/
/*.faqs {*/
/*    background-image: url(../images/backgroung_svgs/website/faq.svg);*/
/*    grid-row: 5 / 6;*/
/*    display: grid;*/
/*    background-size: 100%;*/
/*    grid-template-columns: 1fr 2fr 1fr;*/
/*    grid-template-rows: 0.5fr 2fr 0.4fr;*/
/*}*/

/*.faq_heading {*/
/*    grid-row: 1 / 2;*/
/*    grid-column: 2 / 3;*/
/*    margin: auto;*/
/*}*/

/*.faq_heading h1 {*/
/*    font-family: roboto-bold;*/
/*    color: #ffffff;*/
/*    !* margin: 0 auto !important; *!*/
/*}*/

/*!********************************Reference from w3schools.com***************************************!*/
/*.faq_accordion {*/
/*    grid-row: 2 / 3;*/
/*    grid-column: 2 / 2;*/
/*}*/

/*.accordion {*/
/*    background: none;*/
/*    color: black;*/
/*    cursor: pointer;*/
/*    padding: 10px;*/
/*    font-size: 22px;*/
/*    width: 100%;*/
/*    text-align: left;*/
/*    font-family: roboto-bold;*/
/*    border: none;*/
/*    outline: none;*/
/*    transition: 0.4s;*/
/*}*/

/*.panel {*/
/*    padding: 0 18px;*/
/*    !* background-color: white; *!*/
/*    display: none;*/
/*    overflow: hidden;*/
/*}*/

/*.panel p {*/
/*    font-family: roboto-regular;*/
/*}*/

/*.accordion:after {*/
/*    content: "\2304";*/
/*    font-size: 22px;*/
/*    color: black;*/
/*    float: right;*/
/*    margin-left: 5px;*/
/*}*/

/*.active:after {*/
/*    content: "^";*/
/*    color: #ffffff;*/
/*}*/

/*!*********************************************************************************************************************************************!*/
/*!************************************************************NEWSLETTER SECTION**********************************************************************!*/
/*!*********************************************************************************************************************************************!*/
/*.newsletter {*/
/*    grid-row: 6 / 7;*/
/*    background-image: url("../images/backgroung_svgs/website/stay_updated.svg");*/
/*    background-size: 100%;*/
/*    display: grid;*/
/*    grid-template-rows: 1fr 1fr;*/
/*    grid-template-columns: 1fr 2fr 3fr 1fr;*/
/*}*/

/*.newsletter .newsletter_info {*/
/*    grid-row: 1 / 2;*/
/*    grid-column: 2 / 4;*/
/*}*/

/*.newsletter .newsletter_info h2 {*/
/*    font-family: roboto-regular;*/
/*    font-size: 26px;*/
/*    color: #ff7700;*/
/*    letter-spacing: 2px;*/
/*    margin-top: 2em;*/
/*}*/

/*.newsletter .newsletter_info p {*/
/*    font-family: roboto-regular;*/
/*    font-size: 22px;*/
/*    letter-spacing: 1px;*/
/*    margin-top: 1em;*/
/*}*/

/*.newsletter .newsletter_text {*/
/*    grid-row: 2 / 2;*/
/*    grid-column: 2 / 4;*/
/*}*/

/*.newsletter .newsletter_text h2 {*/
/*    font-family: roboto-regular;*/
/*    font-size: 26px;*/
/*    color: #ff7700;*/
/*    letter-spacing: 2px;*/
/*    margin-top: 2em;*/
/*}*/

/*.newsletter .newsletter_subscription {*/
/*    grid-row: 1 / 2;*/
/*    grid-column: 3 / 4;*/
/*}*/

/*.newsletter .newsletter_subscription form input[type="email"] {*/
/*    padding: 1.4em;*/
/*    width: 70% !important;*/
/*    border: 0.1px Solid gray;*/
/*    margin-top: 4em;*/
/*    border-radius: 10px;*/
/*    float: left;*/
/*}*/

/*.newsletter .newsletter_subscription form input[type="submit"] {*/
/*    !* display: inline !important; *!*/
/*    background: #01714e;*/
/*    float: left;*/
/*    color: #ffffff;*/
/*    font-family: roboto-regular;*/
/*    font-size: 24px;*/
/*    padding: 0.5em;*/
/*    !* border: 0.1px solid #ffffff; *!*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    width: 20%;*/
/*    cursor: pointer;*/
/*    margin-left: 1em;*/
/*    margin-top: 2.2em;*/
/*}*/

/*.newsletter .download {*/
/*    grid-row: 2 / 2;*/
/*    grid-column: 3 / 4;*/
/*}*/

/*.newsletter .download a {*/
/*    margin-left: 8em;*/
/*    margin-top: 0em !important;*/
/*}*/

/*.newsletter .download a img {*/
/*    height: 140px;*/
/*    width: 160px;*/
/*    float: left;*/
/*    margin-left: 1em;*/
/*    margin-top: 0em !important;*/
/*}*/

/*!*********************************************************************************************************************************************!*/
/*!************************************************************CONTACT SECTION**********************************************************************!*/
/*!*********************************************************************************************************************************************!*/
/*.contact {*/
/*    grid-row: 7 / 8;*/
/*    display: grid;*/
/*    grid-template-rows: 0.5fr 0.2fr 100px;*/
/*    grid-template-columns: 1.6fr 2fr 1fr;*/
/*    !* background-image: url(../images/Background_Green_Gradient.svg); *!*/
/*    background-image: url("../images/backgroung_svgs/website/contact.svg");*/
/*    !* background-color: black; *!*/
/*    background-size: 100%;*/
/*}*/

/*.contact_heading {*/
/*    grid-row: 1 / 2;*/
/*    grid-column: 1 / 3;*/
/*    margin: auto;*/
/*}*/

/*.contact_heading h1 {*/
/*    font-family: roboto-regular;*/
/*    color: #ffffff;*/
/*    letter-spacing: 2px;*/
/*    font-size: 42px;*/
/*    !* margin-right: 9em !important; *!*/
/*    text-align: center;*/
/*    margin-left: 8em;*/
/*}*/

/*.contact_heading p {*/
/*    font-family: roboto-regular;*/
/*    font-size: 26px;*/
/*    color: #6cba7f;*/
/*    letter-spacing: 2px;*/
/*    text-align: center;*/
/*    margin-left: 13em;*/
/*}*/

/*.contact_form {*/
/*    grid-row: 2 / 3;*/
/*    grid-column: 2 / 3;*/
/*    !* margin: auto; *!*/
/*    !* padding-top: 2em; *!*/
/*}*/

/*.contact_form form {*/
/*    !* padding: 0px;*/
/*    margin: 0px; *!*/
/*    margin: auto;*/
/*}*/

/*.contact_form form input {*/
/*    padding: 1.5em;*/
/*    width: 60% !important;*/
/*    border: 1px solid #ffffff;*/
/*    border-radius: 12px;*/
/*    font-size: 20px;*/
/*}*/

/*.contact_form textarea {*/
/*    width: 60%;*/
/*    padding: 1.5em;*/
/*    border: 1px solid #ffffff;*/
/*    border-radius: 12px;*/
/*    font-size: 20px;*/
/*}*/

/*::-webkit-input-placeholder {*/
/*    font-family: roboto-regular;*/
/*}*/

/*.contact_form form button {*/
/*    background-color: #01714e;*/
/*    color: #ffffff;*/
/*    margin-left: 8.5em;*/
/*    padding: 0.7em;*/
/*    font-family: roboto-regular;*/
/*    font-size: 21px;*/
/*    letter-spacing: 1px;*/
/*    !* border: 0.1px solid grey; *!*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    width: 20%;*/
/*    cursor: pointer;*/
/*}*/

/*!*********************************************************************************************************************************************!*/
/*!************************************************************FOOTER SECTION**********************************************************************!*/
/*!*********************************************************************************************************************************************!*/
/*.footer {*/
/*    !* background-image: url(../images/Background_Green_Gradient.svg); *!*/
/*    grid-row: 8 / 9;*/
/*    background-color: #6cba7f;*/
/*    display: grid;*/
/*    grid-template-rows: auto;*/
/*    grid-template-columns: 1fr;*/
/*    padding: 0em;*/
/*}*/

/*.footer .menu {*/
/*    grid-row: 1 / 1;*/
/*    color: #ffffff;*/
/*    font-family: roboto-medium;*/
/*    font-size: 26px;*/
/*    letter-spacing: 2px;*/
/*    text-align: right;*/
/*    padding: 0.5em;*/
/*}*/

/*!************************************************************************************************************************************************!*/
/*!****************************************************************Responsive Design***************************************************************!*/
/*!************************************************************************************************************************************************!*/
/*@media screen and (min-width: 360px) and (max-width: 420px) {*/
/*    .container {*/
/*        grid-template-rows: repeat(9, auto);*/
/*        grid-template-columns: 1fr !important;*/
/*        overflow: hidden;*/
/*    }*/

/*    .home {*/
/*        display: grid;*/
/*        grid-template-rows: 0.2fr 0.5fr 1fr 50px;*/
/*        grid-template-columns: 1fr !important;*/
/*        background-image: url(../images/backgroung_svgs/mobile/home_mobile.svg);*/
/*        background-size: 100%;*/
/*    }*/

/*    .logo {*/
/*        grid-row: 1 / 2;*/
/*    }*/

/*    .logo img {*/
/*        margin: 1em 1em !important;*/
/*    }*/

/*    .app_mobile {*/
/*        grid-row: 2 / 3;*/
/*    }*/

/*    .app_mobile img {*/
/*        !* margin: auto; *!*/
/*        margin: 0em !important;*/
/*        !* width: 100%; *!*/
/*    }*/

/*    .intro_heading {*/
/*        grid-row: 3 / 4;*/
/*        grid-column: 1 / 1;*/
/*        margin: 0em !important;*/
/*        padding: 0em !important;*/
/*    }*/

/*    .intro_heading h1 {*/
/*        font-size: 26px !important;*/
/*        width: 50%;*/
/*        letter-spacing: normal;*/
/*        margin-left: 2em;*/
/*        !* text-align: center; *!*/
/*    }*/

/*    .intro_heading p {*/
/*        font-size: 14px;*/
/*        width: 50%;*/
/*        text-align: center;*/
/*        margin-left: 1.8em;*/
/*    }*/

/*    .download_links {*/
/*        grid-row: 4 / 5;*/
/*    }*/

/*    .download_links a {*/
/*        margin: 0em !important;*/
/*    }*/

/*    .download_links a img {*/
/*        height: 100px;*/
/*        width: 150px;*/
/*    }*/

/*    !* .features{*/
/*      display: grid;*/
/*      !* grid-template-rows:0.2fr 0.5fr 1fr 50px;*/
/*      grid-template-columns: 1fr !important;*/
/*      grid-template-rows: 1fr 1fr 1fr 1fr 1fr !important;*/
/*      overflow: hidden !important;*/
/*    }*/

/*    .features_heading h1{*/
/*      margin-left: -16em;*/
/*      font-size: 26px !important;*/
/*    }*/
/*   .feature_one{*/
/*      grid-row: 3 / 4;*/

/*    }*/
/*    .feature_one_card{*/
/*      border: none !important;*/
/*    }*/
/*    .feature_second{*/
/*      grid-row: 4 / 5 !important;*/
/*      grid-column: 1 / 2;*/
/*    }*/
/*    .feature_second_card{*/
/*      border:none !important;*/
/*    }*/
/*    .feature_third{*/

/*    }*/
/*    .about{*/
/*      grid-row: 3 / 4;*/
/*      display: grid;*/
/*     }*/
/*     .contact{*/
/*       display: grid;*/
/*       grid-template-columns: 1fr !important;*/
/*     } *!*/
/*    !* .contact .contact_heading h1{*/
/*       text-align: left !important;*/
/*       margin: 0em !important;*/
/*       font-size: 26px;*/
/*     }*/
/*     .contact_heading p{*/
/*       text-align: left !important;*/
/*       margin: 0em !important;*/
/*     } *!*/
/*    .footer {*/
/*        grid-template-columns: 1fr !important;*/
/*    }*/

/*    .footer .menu {*/
/*        text-align: left !important;*/
/*        font-size: 16px !important;*/
/*    }*/
/*}*/
