@font-face {
  font-family: roboto-regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: roboto-medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
* {
  display: block;
  margin: 0px;
  padding: 0px;
}
.container {
  display: grid;
  grid-template-rows: repeat(9, auto);
  grid-template-columns: 1fr;
}
/*********************************************************************************************************************************************/
/************************************************************HOME SECTION**********************************************************************/
/*********************************************************************************************************************************************/
.home {
  background-image: url(../images/Background_Green_Gradient.svg);
  background-size: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 80px;
  grid-template-columns: 1.3fr 2fr 150px;
}
.logo {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.logo img {
  height: 60px;
  width: 60px;
  /* margin: auto !important; */
  margin-left: 10em;
  margin-top: 3em;
}
.nav {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  margin-top: 3.8em;
  justify-content: flex-end;
  /* margin-left: 6em; */
  /* margin: auto !important; */
  /* display: flex;
  align-items: center; */
}
.nav ul li {
  float: left;
  margin-left: 2rem;

  /* font-family: 'Roboto';
    font-weight: bold; */
  color: #ffffff;
  font-size: 26px;
  cursor: pointer;
  font-family: roboto-bold;
}
.app_mobile {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}
.app_mobile img {
  margin: auto;
}
.intro_heading {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}
.intro_heading h1 {
  color: #ffffff;
  font-size: 42px;
  font-family: roboto-regular;
  font-weight: 400;
  /* padding-left: 2em;
  padding-right: 2em; */
  text-align: center;
  letter-spacing: 5px;
}
.intro_heading p {
  font-size: 26px;
  font-family: roboto-regular;
  padding-left: 2em;
  margin-top: 1em;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 0px;
}
.download_links a {
  margin-left: 18em;
}
.download_links a img {
  height: 140px;
  width: 160px;
  float: left;
  margin-left: 1em;
}
/*********************************************************************************************************************************************/
/************************************************************FEATURES SECTION*****************************************************************/
/*********************************************************************************************************************************************/
.features {
  display: grid;
  grid-template-rows: 0.4fr 0.7fr 0.8fr 0.2fr;
  grid-template-columns: 0.8fr 1.5fr 1.5fr 1.7fr;
}
.features_heading {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  margin: auto !important;
}
.features_heading h1 {
  font-size: 32px;
  color: #6cba7f;
  font-family: roboto-medium;
  margin: 0 auto;
  /* margin-left: 4em; */
}
.features_text {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
}
.features_text p {
  font-size: 24px;
  width: 80%;
  font-family: roboto-regular;
  text-align: center;
  /* padding: 0px;
  /* margin: 0px; 
  margin-left: 6em; */
}
.feature_one {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.feature_one .feature_one_card {
  border-left: 1px Solid #6cba7f;
  border-right: 1px Solid #6cba7f;
  border-top: 1px Solid #6cba7f;
  border-bottom: 15px solid #6cba7f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 250px;
  height: 220px;
  align-items: center;
  padding: 2em;
}
.feature_one .feature_one_card b {
  color: #6cba7f;
  font-family: roboto-regular;
  font-size: 19px;
  margin-top: 1em;
  margin-left: 1em;
  /* margin: 1em; */
  letter-spacing: 1px;
}
.feature_one .feature_one_card img {
  margin: auto;
}
.feature_one .feature_one_card p {
  font-family: roboto-regular;
  margin-top: 1em;
  text-align: center;
  /* margin-left: 0.5em; */
}
.feature_second {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.feature_second .feature_second_card {
  border-left: 1px Solid #6cba7f;
  border-right: 1px Solid #6cba7f;
  border-top: 1px Solid #6cba7f;
  border-bottom: 15px solid #6cba7f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 250px;
  height: 220px;
  align-items: center;
  padding: 2em;
}
.feature_second .feature_second_card b {
  color: #6cba7f;
  font-family: roboto-regular;
  font-size: 19px;
  margin-top: 1em;
  text-align: center;
  /* margin-left: 1em; */
  letter-spacing: 1px;
}
.feature_second .feature_second_card img {
  margin: auto;
}
.feature_second .feature_second_card p {
  font-family: roboto-regular;
  text-align: center;
}
.feature_third {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}
.feature_third .feature_third_card {
  border-left: 1px Solid #6cba7f;
  border-right: 1px Solid #6cba7f;
  border-top: 1px Solid #6cba7f;
  border-bottom: 15px solid #6cba7f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 250px;
  height: 220px;
  align-items: center;
  padding: 2em;
}
.feature_third .feature_third_card b {
  color: #6cba7f;
  font-family: roboto-regular;
  font-size: 19px;
  margin-top: 1em;
  /* margin-left: 1em; */
  text-align: center;
  /* margin: 1em; */
  letter-spacing: 1px;
}
.feature_third .feature_third_card img {
  margin: auto;
}
.feature_third .feature_third_card p {
  font-family: roboto-regular;
  text-align: center;
}
/*********************************************************************************************************************************************/
/************************************************************ABOUT SECTION**********************************************************************/
/*********************************************************************************************************************************************/
.about {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1fr 0.4fr;
  grid-template-columns: 120px 1fr 1.2fr 100px;
  background-image: url(../images/Background_Green_Gradient.svg);
  /* background-image: url(../images/OneComplete_BG.svg); */
  background-size: 100%;
}
.about_heading {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  margin: auto;
}
.about_heading h1 {
  color: #ffffff;
  font-family: roboto-regular;
  font-size: 32px;
  margin: 0 auto;
}
.about_title {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: auto;
}
.about_title h2 {
  color: #ffffff;
  font-family: roboto-regular;
  font-size: 28px;
  /* margin-left: 4em; */
  margin: 0 auto;
}
.about_text {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.about_text p {
  font-family: roboto-regular;
  text-align: center;
  font-size: 23px;
  margin: 0 auto;
}
.about_image {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}
.about_image img {
  padding-left: 8em;
}
/*********************************************************************************************************************************************/
/************************************************************TEAM SECTION**********************************************************************/
/*********************************************************************************************************************************************/
.team {
  background-color: #ffffff;
}
/*********************************************************************************************************************************************/
/************************************************************FAQS SECTION**********************************************************************/
/*********************************************************************************************************************************************/
.faqs {
  background-image: url(../images/Background_Green_Gradient.svg);
}
/*********************************************************************************************************************************************/
/************************************************************NEWSLETTER SECTION**********************************************************************/
/*********************************************************************************************************************************************/
.newsletter {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr 3fr 1fr;
}
.newsletter .newsletter_info {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}
.newsletter .newsletter_info h2 {
  font-family: roboto-regular;
  font-size: 26px;
  color: #ff7700;
  letter-spacing: 2px;
  margin-top: 2em;
}
.newsletter .newsletter_info p {
  font-family: roboto-regular;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 1em;
}
.newsletter .newsletter_text {
  grid-row: 2 / 2;
  grid-column: 2 / 4;
}
.newsletter .newsletter_text h2 {
  font-family: roboto-regular;
  font-size: 26px;
  color: #ff7700;
  letter-spacing: 2px;
  margin-top: 2em;
}
.newsletter .newsletter_subscription {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}
.newsletter .newsletter_subscription form input[type="email"] {
  padding: 1.4em;
  width: 70% !important;
  border: 0.1px Solid gray;
  margin-top: 4em;
  border-radius: 10px;
  float: left;
}
.newsletter .newsletter_subscription form input[type="submit"] {
  /* display: inline !important; */
  background: #01714e;
  float: left;
  color: #ffffff;
  font-family: roboto-regular;
  font-size: 24px;
  padding: 0.5em;
  /* border: 0.1px solid #ffffff; */
  border: none;
  border-radius: 10px;
  width: 20%;
  cursor: pointer;
  margin-left: 1em;
  margin-top: 2.2em;
}
.newsletter .download {
  grid-row: 2 / 2;
  grid-column: 3 / 4;
}
.newsletter .download a {
  margin-left: 8em;
  margin-top: 0em !important;
}
.newsletter .download a img {
  height: 140px;
  width: 160px;
  float: left;
  margin-left: 1em;
  margin-top: 0em !important;
}
/*********************************************************************************************************************************************/
/************************************************************CONTACT SECTION**********************************************************************/
/*********************************************************************************************************************************************/
.contact {
  display: grid;
  grid-template-rows: 0.5fr 1fr 100px;
  grid-template-columns: 1.6fr 2fr 1fr;
  /* background-image: url(../images/Background_Green_Gradient.svg); */
  background-image: url(../images/contact_background.svg);
  /* background-color: black; */
  background-size: auto;
  background-repeat: no-repeat;
  padding: 0em;
}
.contact_heading {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin: auto;
}
.contact_heading h1 {
  font-family: roboto-regular;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 42px;
  /* margin-right: 9em !important; */
  text-align: center;
  margin-left: 8em;
}
.contact_heading p {
  font-family: roboto-regular;
  font-size: 26px;
  color: #6cba7f;
  letter-spacing: 2px;
  text-align: center;
  margin-left: 13em;
}
.contact_form {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  /* margin: auto; */
  /* padding-top: 2em; */
}
.contact_form form {
  /* padding: 0px;
  margin: 0px; */
  margin: auto;
}
.contact_form form input {
  padding: 1.5em;
  width: 60% !important;
  border: 1px solid #ffffff;
  border-radius: 12px;
  font-size: 20px;
}
.contact_form textarea {
  width: 60%;
  padding: 1.5em;
  border: 1px solid #ffffff;
  border-radius: 12px;
  font-size: 20px;
}
::-webkit-input-placeholder {
  font-family: roboto-regular;
}

.contact_form form button {
  background-color: #01714e;
  color: #ffffff;
  margin-left: 8.5em;
  padding: 0.7em;
  font-family: roboto-regular;
  font-size: 21px;
  letter-spacing: 1px;
  /* border: 0.1px solid grey; */
  border: none;
  border-radius: 10px;
  width: 20%;
  cursor: pointer;
}
/*********************************************************************************************************************************************/
/************************************************************FOOTER SECTION**********************************************************************/
/*********************************************************************************************************************************************/
.footer {
  /* background-image: url(../images/Background_Green_Gradient.svg); */
  background-color: #6cba7f;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  padding: 0em;
}
.footer .menu {
  grid-row: 1 / 1;
  color: #ffffff;
  font-family: roboto-medium;
  font-size: 26px;
  letter-spacing: 2px;
  text-align: right;
  padding: 0.5em;
}
